# ignore all logs
*.log
*.gz
*.num
# Compiled class file
*.class
dependency-reduced-pom.xml


*.war
target/
out/There is no route definition for Served Party
warFolder/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.iprv

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/AOM/aom-parent/aom/classpath.txt

###Temporary Files###
#SQLITE
*.db-shm
# OCS files
*.rec